html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Arial';
  color: black;
  min-height: 100%;
}

body.landing {
  background-color: rgb(300,300,300);
}

.navbar {
  padding: 0.5rem;
}

.navbar .logo {
  position: relative;
  left: 2rem;
}

.hero-content {
  position: relative;
  min-height: 600px;
  background-image: url(../assets/images/life_of_clara_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;

}


.intro-content {
  position: absolute;
  text-align: center;
  background-position: center center;
  font-weight: 100;
  padding: 6.0rem;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  }


.blog-posts {
  position: relative;
  display: table;
  width: 100%;
  padding-top: 18rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post {
  display: table-cell;
  position: relative;
  width: 33.3%;
  padding: 2rem;
  text-align: center;

}

.post .post-title {
  font-size: 1.0rem;
}
